@import "../../utils/styles/variables";

.Notification {
  background-color: $frog;
  color: $dark;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 30px;
  overflow: hidden;

  &__icon {
    color: $white;
    padding: .7rem .7rem .7rem .9rem;

    &--info {
      background-color: $info;
    }

    &--success {
      background-color: $success;
    }

    &--error {
      background-color: $error;
    }
  }

  &__message {
    flex-grow: 1;
    padding: .7rem;
  }
}