$primary-light: #0bedae;
$primary: #09BC8A;
$primary-dark: #045b43;

$secondary-light: #c8adc4;
$secondary: #b48eAe;
$secondary-dark: #84587d;

$white: #ffffff;
$frog: #b3b3b3;
$ash: #898989;
$grey: #777777;
$matterhorn: #444444;
$dark: #383838;

$info: #459fd0;
$success: #3c9700;
$error: #ed1c24;
$error-text: #ff9494;

$breakpoint-tiny: 375px;
$breakpoint-small: 544px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

