$primary-light: #09BC8A;
$primary: #078b66;
$primary-dark: #045b43;

$secondary-light: #b48eAe;
$secondary: #996591;
$secondary-dark: #704a6a;

$white: #ffffff;
$grey: #999999;
$matterhorn: #555555;
$dark: #333737;

$info: #459fd0;
$success: #3c9700;
$error: #ed1c24;

$breakpoint-tiny: 375px;
$breakpoint-small: 544px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

