@import "../../utils/styles/variables";
@import "../../utils/styles/mixins";

.Album {

  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 100%;

  @include media-query(laptop, up) {
    grid-template-columns: 200px 1fr;
  }

  &__detail {
    width: 200px;
    margin: 0 auto;
  }

  &__cover {
    margin: 0;
    height: auto;
    width: 200px;
    display: block;
    border: 2px solid $secondary-dark;
    border-radius: 3px 3px 0 0;
  }

  &__artist {
    display: block;
    color: $white;
    font-size: 1.5rem;
    padding: .7rem .3rem;
    border-radius: 0 0 3px 3px;
    background-color: $secondary-dark;
    text-align: center;
  }

  &__songs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-top: 3px solid $ash;

    &-item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: .7rem;
      color: $white;
      background-color: $dark;
      border-bottom: 3px solid $ash;

      &:after {
        display: block;
        position: absolute;
        content: '';
        bottom: -3px;
        width: 0;
        left: 50%;
        height: 3px;
        background: $primary-light;
        transition: all .3s ease-in-out;
      }

      &:hover, &:focus {
        color: $primary-light;
        cursor: pointer;
        outline: 0;

        &:after {
          width: 100%;
          left: 0;
        }
      }
    }

    &-playing, &-track {
      flex-basis: 25px;
      min-width: 25px;
    }

    &-name {
      flex-grow: 1;
    }

    &-duration {
      flex-basis: 35px;
      min-width: 35px;
      text-align: right;
    }
  }
}